{{#if parent}}
    {{#with parent}}{{> breadcrumb}}{{/with}}
    <li>
        <span>{{name}}</span>
    </li>
{{else}}
    {{#if url}}
        <li>
            <span><a href="{{relativeURL url}}">Globals</a></span>
        </li>
    {{/if}}
{{/if}}
